#main {
    padding: 15px 15px;
}

#main section {
    padding: 60px 0;
    text-align: center;
    align-items: center;

    display:flex;
    flex-direction: column;
    justify-content: center;
}

#main h2 {
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 25px;
}

#sobreMim img {
    width: 180px;
    border: 2px solid var(--cor-um);
    border-radius: 50%;
}

#sobreMim div {
    padding-top: 20px;
}

#habilidades p {
    margin-bottom: 27px;
}

#icones {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
}

#ondeAprendi .texto {
    line-height: 30px;
}

#comQuemAprendi img {
    width: 190px;
    border-radius: 50%;
}

#comQuemAprendi div + div {
    margin: 20px 0; 
}

#comQuemAprendi .botoes-nome {
    min-width: 190px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#main #contato {
    text-align: start;
    align-items: flex-start;
}

#main #contato .frase {
    font-size: 14px;
    text-align: center;
    align-self: center;
}

#main #contato h2 {
    align-self:center;
}

#contato .icon {
    margin-right: 15px;
}

#contato label {
    font-size: 15px;
}

#contato span {
    color: var(--cor-fonte-titulo);
}

#contato .row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

@media (min-width: 625px) {
    #main {
        padding: 20px 40px;
    }

    #main #oqueProcuro {
        align-items: flex-start;
    }

    #main section, #habilidades {
        align-items: flex-start;
        text-align: start;
    }

    #main #portfolio {
        align-items: center;
    }

    #main #sobreMim, #main #comQuemAprendi {
        flex-direction: row;
    }

    #sobreMim img, #main #comQuemAprendi div{
        margin-right: 30px;
    }

    #main #contato h2, #main #contato .frase {
        align-self:start;
    }

    #contato label {
        font-size: 15px;
    }

    #main h2 {
        font-size: 40px;
    }

    #contato .icon {
        margin-right: 90px;
        margin-left: 110px;
    }

    #contato .row {
        margin: 20px 0;
    }

    #portfolio .cards {
        justify-content:flex-start;
    }

}

@media (min-width: 980px) {
    #main {
        padding: 30px 100px;
    }

    #main h2 {
        font-size: 50px;
    }
}