* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-um: #ff6700;
    --cor-dois: #1b4332;
    --cor-tres: #40916c;
    --cor-quatro: #52b788;
    --cor-cinco: #d90429;
    --cor-seis: #b7e4c7;
    --cor-sete: #f0efeb;
    --cor-oito: #06d6a0;
    --cor-fonte: #6c757d;
    --cor-fonte-titulo: #495057;
}

p {
    color: var(--cor-fonte);
}

h2 {
    color: var(--cor-um);
}

ul {
    list-style: none;
}

li a {
    text-decoration: none;
}